body{
    font-family: Arial, Helvetica, sans-serif;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
  }

  
header{
    /*background-color:aliceblue;*/
    background-color: #f0f8ff;
    align-items: center;
}
.between{
  justify-content: space-between;
}
    
div  img{
  margin:0;
  background-color: #f0f8ff;
  width: 350px;
  height: 150px;
}

ul.submenu > li > a:hover {
  opacity: 0.5;
}
a{
  text-decoration: none;
}
ul{
  list-style-type: none;
}
nav{
  background-color:#273773;
  text-align: center;
 
}
.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #273773;
  color: #fff;
  padding: 10px;
}

.top-bar a {
  color: #fff;
  margin-right: 20px;
}

.top-bar span {
  margin-right: 10px;
}
span > i{
  padding:5px;
  color:white;
}
span{
  color:white;
}

  
  .login {
    border: 2px solid #ccc;
    border-radius: 50px;
    margin-right: 20px; 
    background-color:#273773;
    
  }
  .login > a{
    color:white;
  }
  ul.menu{
    display:inline flex;
    background-color: #273773;
    position: relative;
    z-index:4;

  }
  ul.menu > li{
    text-transform: uppercase;
   /* border-left: 1px solid white;*/
 
  }

  .submenu{
    text-transform: none;
  }
  ul.menu > li > a{
    display:block;
   /* margin:5px;
    padding:10px;*/
    padding:1.5rem;
    color:white;

  }
  ul.menu > li > a:hover{
    opacity: 0.5;

    
  }
  
 .submenu{
    display: none;
    position: absolute;

  }
  ul.menu > li:hover .submenu{
    display:block;
    position: absolute;
    background-color:#273773;
    color:white;
  
    
    
  }
  
  .submenu > li > a {
    display:block;
   /* margin:5px;
    padding:10px;*/
    padding:0.5rem;
    color:white;
    text-align: left;
    border-bottom:1px solid #b9cfd1;
  }
  
  
.flex{
  display:flex;
}
 

footer{
  background-color: steelblue;
  justify-content: space-between;
  color:black;
  margin:0 auto;
}
.col-1, .col-2, .col-3{
  margin:20px;
  justify-content: space-between;
}

.col-3 > ul > li{
  margin:5px;
  padding:10px;
}
ul.nav li {
  margin:5px;
  padding:10px;

}
.col-3  h3{
  margin:10px;
}
.col-2  h3{
  margin:10px;
}
.nav > li > a{
  color:black;
}
#backtop{
  width:50px;
  height:50px;
  color:white;
  display:flex;
  justify-content:center;
  align-items:center;
  border-radius:50px;
  position:fixed;
  bottom:40px;
  right:20px;
  background-color: #273773;

}